ACCOUNT_ID="0.0." # your operator account ID from https://portal.hedera.com/dashboard
PRIVATE_KEY="303..." # ECDSA DER encoded private key
OPENAI_API_KEY="sk-..." # Create an OpenAPI Key at https://platform.openai.com/api-keys
E2E_LLM_PROVIDER="openai" # anthropic, groq
E2E_LLM_MODEL="gpt-4o-mini" # any openai/anthropic/groq model